@model JobFormModel
@{
    ViewData["Title"] = "Add Jobs";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_JobFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}