@model JobFormModel
@{
    ViewData["Title"] = "Edit Job Post";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_jobFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}