<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Board">Job Board</a>
    </li>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="MyApplications">My Job Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="MyJobPosts">My Job Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Add">Add Job</a>
        </li>
    }
</ul>