@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-6 text-center" style="margin: 0 auto">
        <h4 class="text-danger">ERROR 401: UNAUTHORIZED</h4>
        <img src="~/images/errors/error-401.png" alt="401 Error" style="width: 100%; height: 300px;">
        <br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>