@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-6 text-center" style="margin: 0 auto">
        <h4 class="text-danger">ERROR</h4>
        <h5 class="text-danger">An error occurred while processing your request.</h5>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>