@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-10 text-center">
        <h4 class="text-danger">ERROR 500: INTERNAL SERVER ERROR</h4>
        <img src="~/images/errors/error-500.png" alt="500 Error" style="width: 700px;">
        <br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>