@{
    ViewData["Title"] = "Admin Center";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <hr class="my-4">
    <p class="p-2">
    <a asp-area="Admin" asp-controller="Company" asp-action="AllCompanies"
       class="btn btn-primary btn-lg">All Companies</a>
    <a asp-area="Admin" asp-controller="Company" asp-action="AwaitingApproval"
       class="btn btn-primary btn-lg">Awaiting Companies</a>
    </p>
    <p class="p-2">
    <a asp-area="Admin" asp-controller="Rent" asp-action="All"
       class="btn btn-primary btn-lg">All Employers</a>
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Job Posts</a>
    </p>
    <p class="p-2">
        <a asp-area="Admin" asp-controller="House" asp-action="Mine"
           class="btn btn-primary btn-lg">All Applicants</a>
        <a asp-area="Admin" asp-controller="House" asp-action="Mine"
           class="btn btn-primary btn-lg">All Applications</a>
    </p>
</div>