@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IEmployerService employerService
@inject IApplicantService applicantService

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    if ((await employerService.EmployerExistsByIdAsync(User.Id())) == false
        && (await applicantService.ApplicantExistsByIdAsync(User.Id())) == false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Applicant" asp-action="BecomeApplicant">Become Applicant</a>
        </li>
    }
    if ((await employerService.EmployerExistsByIdAsync(User.Id())) == false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employer" asp-action="BecomeEmployer">Become Employer</a>
        </li>
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
